
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Classes</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Class Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="ClassName" required="required" class="form-control col-md-7 col-xs-12" name="ClassName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Section <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Section" required="required" class="form-control col-md-7 col-xs-12" name="Section">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Number Of Students <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="NumberOfStudents" required="required" class="form-control col-md-7 col-xs-12" name="NumberOfStudents">
                        </div>
                    </div>


                    <div class="ln_solid"></div>
                    <input type="hidden" id="ID" name="ID" />
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success" id="btn1">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Classes</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-bordered">
                <table class="table table-striped jambo_table bulk_action" id="tab1">
                    <tr class="headings">
                        <th class="column-title" width="180px"># </th>
                        <th class="column-title" width="180px">Class Name </th>
                        <th class="column-title" width="180px">Section </th>
                        <th class="column-title" width="180px">Number Of Students </th>

                        <th class="column-title no-link last" width="240px">
                            <span class="nobr">Action</span>
                        </th>
                    </tr>


                </table>
            </div>


        </div>
    </div>
</div>

<script>
    function AddEditRecord(id, className, section, numberOfStudents) {
        $("#ClassName").val(className);
        $("#Section").val(section);
        $("#NumberOfStudents").val(numberOfStudents);
        $("#ID").val(id);
    }

    function UpdateRecord() {
        $.ajax({
            type: "put",
            contentType: "application/json;charset=utf-8",
            url: "/api/ClassMasters/" + $("#ID").val(),
            data: JSON.stringify({
                ID: parseInt($("#ID").val()),
                ClassName: $("#ClassName").val(),
                Section: $("#Section").val(),
                NumberOfStudents: parseInt($("#NumberOfStudents").val()),

            }),

            dataType: "JSON",

            success: function (data) {
                $("#tab1").find("tr:gt(0)").remove();
                $.getJSON("/api/ClassMasters/", function (data) {
                    $("#tab1").css("display", "block");
                    $.each(data, function (key, val) {
                        $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.className + "</td><td width='180px'>" + val.section + "</td><td width='180px'>" + val.numberOfStudents + "</td><td width='240px'>" + "<button class='btn btn-success btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.className + '","' + val.section + '","' + val.numberOfStudents + '"' + ");'" + ">Edit</button><button class='btn btn-success btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

                    })

                })

            }
        });
    }
    //Delete
    function DeleteRecord(ID) {
        $.ajax({

            type: "DELETE",

            contentType: "application/json;charset=utf-8",

            url: "/api/ClassMasters/" + ID,

            data: JSON.stringify({
                id: ID,
            }),
            dataType: "JSON",
            success: function (data) {
                $("#tab1").find("tr:gt(0)").remove();
                $.getJSON("/api/ClassMasters/", function (data) {
                    $("#tab1").css("display", "block");
                    $.each(data, function (key, val) {
                        $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.className + "</td><td width='180px'>" + val.section + "</td><td width='180px'>" + val.numberOfStudents + "</td><td width='240px'>" + "<button class='btn btn-success btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.className + '","' + val.section + '","' + val.numberOfStudents + '"' + ");'" + ">Edit</button><button class='btn btn-success btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

                    })

                })
            }
        });
    }
    $(document).ready(function () {
        //alert('hi');
        $("#tab1").css("display", "none");
        $.getJSON("/api/ClassMasters/", function (data) {
            $("#tab1").css("display", "block");
            $.each(data, function (key, val) {
                $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.className + "</td><td width='180px'>" + val.section + "</td><td width='180px'>" + val.numberOfStudents + "</td><td width='240px'>" + "<button class='btn btn-success btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.className + '","' + val.section + '","' + val.numberOfStudents + '"' + ");'" + ">Edit</button><button class='btn btn-success btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));
            });
        })

        //POST
        $("#btn1").click(function () {
            if ($("#ID").val() > 0) {
                UpdateRecord();
            }
            else {

                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "/api/ClassMasters/",
                    data: JSON.stringify({
                        ClassName: $("#ClassName").val(),
                        Section: $("#Section").val(),
                        NumberOfStudents: parseInt($("#NumberOfStudents").val()),
                    }),
                    dataType: "JSON",
                    success: function (data) {
                        $("#ID").val('');
                        $("#tab1").find("tr:gt(0)").remove();
                        $.getJSON("/api/ClassMasters/", function (data) {
                            $("#tab1").css("display", "block");
                            $.each(data, function (key, val) {
                                $("<tr class='even pointer'><td width='180px'>" + val.id + "</td><td width='180px'>" + val.className + "</td><td width='180px'>" + val.section + "</td><td width='180px'>" + val.numberOfStudents + "</td><td width='240px'>" + "<button class='btn btn-success btn-xs' onclick='AddEditRecord(" + val.id + ',"' + val.className + '","' + val.section + '","' + val.numberOfStudents + '"' + ");'" + ">Edit</button><button class='btn btn-success btn-xs' onclick='DeleteRecord(" + val.id + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

                            })

                        })



                    }
                });
            }

        })
    });

</script>

